
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
  font-family: 'VT323', monospace;
}
body{
    margin-left: 400px;
}
#displayText{
    font-size: 80px;
}
.healthbar{
    background-color: #ef4444;
    height: 100%;
    width: 100%;
    transform:skewX(160deg);
    
}
#playerHealth{
    transform:skewX(160deg);
    background: #818CF8;
    margin: 4px;

}

#enemyHealth{
    transform:skewX(160deg);
    background: #818CF8;   
    margin: 4px; 

}
#timer{
    background-color: #18181b; 
    height: 50px;
    width: 100px; 
    flex-shrink: 0;
    display: flex;
    transform:skewX(160deg);
    color: white;
    font-family: 'VT323', monospace;
    font-size: 30px;
       
    border: 4px solid white;
    align-items: center; 
    justify-content:center;
}